<!---<form #form="ngForm" (ngSubmit)="submit(form)">
<input [(ngModel)]="user.name" name="name" >
<input  [class.error]="!form.controls.passworld?.valid" [(ngModel)]="user.password"  name="passworld" minlength="8">
  <div [class]="['error']" *ngIf="!form.controls.passworld?.valid"> passworld must be 10 symbols </div>
  <button >submit</button>
</form>-->

<form [formGroup]="myForm" (ngSubmit)="xxx(myForm)">
  <input [formControl]="name" >
  <input [formControl]="passworld" >
  <button [disabled]="!myForm.valid">sed</button>



</form>
